@layout('layouts/main')
@set('title','Exercises')
@section('body')
  <div id="main-container">
    <form action="{{ route('workouts.assemble')}} " id="form-muscles-list" >
      @include('partials/form-muscles')
    </form>
    <div class="inputs-container">
      @include('partials/table-muscles')
    </div>
  </div>
  <script src="/js/list-exercises-form.js"></script>
  <script src="/js/show.js"></script>
@end

