@layout('layouts/main')
@set('title','Workout')
@section('body')
  <div id="main-container">
    <form action="{{ route('workouts.random-form-post') }} " id="form-random-workout" method="post">
      @include('partials/form-muscles-workout')
    </form>
    <div class="inputs-container">
      @include('partials/table-workout')
    </div>
  </div>
  <script src="/js/random-workout-form.js"></script>
  <script src="/js/workoutSheet.js"></script>
@end

