<div class="form-control hidden" id="table-workout-list">
  <h1>Workout list</h1>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Exercise</th>
      <th>Agonists</th>
      <th>Synergists</th>
      <th>Stabilizers</th>
    </thead>
    <tbody id="list-muscles">
    </tbody>
  </table>
</div>
