.cards-container{
  display: flex;
  flex-direction: row;
  max-width: 250px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #273244ee;
  box-shadow: 0px 0px 5px rgba(31, 31, 31, 0.432);
  border-radius: 10px;
  /* border:1px solid rgb(201, 231, 243); */
  color: rgb(165, 165, 165);
}
.body-part{
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  height: fit-content;
  padding: 5px;
}
.body-part label{
  display: flex;
  flex-direction: row-reverse;
  justify-content:  space-between;;
}
.body-part label span{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}
.body-part h5{
  margin-bottom: 5px;
  color: white;
}

.body-part label input{
  margin-right: 10px;
}
