.icon{
  margin: 0px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 70ms;
  cursor: pointer;
  background-size: cover;
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0));
}

.icon:hover{
  transform: scale(1.05) ;
  filter: drop-shadow(5px 5px 5px rgba(32, 32, 32, 0.856));

}

.icon-csv{
  background-image: url('/img/export-csv-file.png');
}

.icon-pdf{
  background-image: url('/img/export-pdf-file.png');
}
.icon-xlsx{
  background-image: url('/img/export-xlsx-file.png');
}
