@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html{
  background-image: url('/img/gym-bc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  background-attachment: fixed;

}

html, body {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 15px ;
}

body{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243b55ab, #0a101a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243b55ab, #0a101a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}
.paddingLR{
  padding-right: 80px;
  padding-left: 80px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#form-muscles-list{
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  /* justify-content: space-around; */
  color: white;
}

.flex-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.inputs-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}


#table-workout-list{
  width: 70%;
  padding: 10px;
  background-color: #273244ee;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}

#table-workout-list td{
  color: rgb(165, 165, 165);
}
#table-workout-list th{
  font-weight: normal;
  color: white;
}
#table-workout-list  a{
  text-decoration: none;
  color: white;
}
#table-workout-list  a:hover{
  text-shadow: 0px 0px 5px black;
}
#table-workout-list tr{
  border-bottom-color:  rgba(136, 136, 136, 0.11);
}
.header-table{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-table h1{
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  color: white;
  box-sizing: border-box;
  text-indent: 10px;
}
.header-table-button{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
}
.header-table-button ion-icon{
  margin: 10px;
  transition: 200ms;
  transform: scale(1.2);
}
.header-table-button ion-icon:hover{
  transform: scale(1.4);
}

.hidden{
  display: none;
  visibility: hidden;
}
.wave:nth-child(1){
  display: none;
  visibility: hidden;
}

.btn-dark{
  background-color: rgb(1, 1, 17);
}

.options{
  border-radius: 10px;
  border: 1px solid red;
}

input::after{
  background-color: red;
  width: 30px;
}

.width100-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-muscles{
  width: 70%;
}

#workoutTypeSelect{
  width: 100%;
}

.my-btn{
  margin-top:20px
}
