*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(1, 1, 17);
}

#main-container{
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
#formulario{
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.flex-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.inputs-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.body-part{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  height: 100%;
  padding: 5px;
}
.body-part label{
  display: flex;
  flex-direction: row-reverse;
  justify-content:  space-between;;
}
.body-part label span{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.body-part label input{
  margin-right: 10px;
}

#table-workout-list{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.938);
}
#table-workout-list h1 {
  display: flex;
  justify-content: center;
}
.hidden{
  display: none;
  visibility: hidden;
}
.wave:nth-child(1){
  display: none;
  visibility: hidden;
}

.btn-dark{
  background-color: rgb(1, 1, 17);
}

.options{
  border-radius: 10px;
  border: 1px solid red;
}

input::after{
  background-color: red;
  width: 30px;
}
